<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../assets/css/main.css">
    <title>Book Store</title>
  </head>
  <body>
    <header class="header header--authors">
      <div class="header__content">
        <div class="header__title">
          <p>Une nouvelle manière de découvir,</p>
          <p>partager et lire des livres</p>
        </div>
        <div class="header__login"><a href="../users/index.html" class="btn btn--white">Mon compte</a><a href="#" class="btn btn--white">Déconnexion</a>
        </div>
      </div>
    </header>
  </body>
</html>
<nav id="nav" class="nav">
  <div class="nav__content">
    <h1 class="nav__title"><a id="main__title" href="../../index.html">Book Store</a></h1>
    <ul class="nav__menu">
      <li class="nav__menu__item"><a href="../books/authorsList.html">Auteurs</a></li>
      <li class="nav__menu__item"><a href="../books/editorsList.html">Editeurs</a></li>
      <li class="nav__menu__item"><a href="../books/categoriesList.html">Genres</a></li>
      <li class="nav__menu__item"><a href="../books/languagesList.html">Langues</a></li>
      <li class="nav__menu__item"><a href="../books/yearsList.html">Années</a></li>
      <li class="nav__menu__item"><a href="./views/books/yearsList.html">Bibliothèques</a></li>
    </ul>
  </div>
</nav>
<div id="content" class="content">
  <form class="form">
    <input placeholder="Chercher un editeur..." class="form__input form--search">
    <input type="submit" class="form__input form__submit form--search--submit">
  </form>
  <div class="section">
    <div class="section__header">
      <h2 class="section__title">Selectionnez un editeur</h2>
    </div>
    <ul class="filter__list">
      <li class="filter__item"><a href="./editorsList.html" class="filter--active">A</a></li>
      <li class="filter__item"><a href="./editorsList.html">B</a></li>
      <li class="filter__item"><a href="./editorsList.html">C</a></li>
      <li class="filter__item"><a href="./editorsList.html">D</a></li>
      <li class="filter__item"><a href="./editorsList.html">F</a></li>
      <li class="filter__item"><a href="./editorsList.html">G</a></li>
      <li class="filter__item"><a href="./editorsList.html">H</a></li>
      <li class="filter__item"><a href="./editorsList.html">I</a></li>
      <li class="filter__item"><a href="./editorsList.html">J</a></li>
      <li class="filter__item"><a href="./editorsList.html">K</a></li>
      <li class="filter__item"><a href="./editorsList.html">L</a></li>
      <li class="filter__item"><a href="./editorsList.html">M</a></li>
      <li class="filter__item"><a href="./editorsList.html">N</a></li>
      <li class="filter__item"><a href="./editorsList.html">O</a></li>
      <li class="filter__item"><a href="./editorsList.html">P</a></li>
      <li class="filter__item"><a href="./editorsList.html">Q</a></li>
      <li class="filter__item"><a href="./editorsList.html">R</a></li>
      <li class="filter__item"><a href="./editorsList.html">S</a></li>
      <li class="filter__item"><a href="./editorsList.html">T</a></li>
      <li class="filter__item"><a href="./editorsList.html">U</a></li>
      <li class="filter__item"><a href="./editorsList.html">V</a></li>
      <li class="filter__item"><a href="./editorsList.html">W</a></li>
      <li class="filter__item"><a href="./editorsList.html">X</a></li>
      <li class="filter__item"><a href="./editorsList.html">Y</a></li>
      <li class="filter__item"><a href="./editorsList.html">Z</a></li>
    </ul>
    <div class="section__block">
      <ul class="editors__list">
        <li class="editors__list__item"><a href="./editorSingle.html">Editeur</a>
          <p class="editor__infos">30 livres</p><img src="../../assets/img/editor.jpg" class="editor__img">
        </li>
        <li class="editors__list__item"><a href="./editorSingle.html">Editeur</a>
          <p class="editor__infos">30 livres</p><img src="../../assets/img/editor.jpg" class="editor__img">
        </li>
        <li class="editors__list__item"><a href="./editorSingle.html">Editeur</a>
          <p class="editor__infos">30 livres</p><img src="../../assets/img/editor.jpg" class="editor__img">
        </li>
        <li class="editors__list__item"><a href="./editorSingle.html">Editeur</a>
          <p class="editor__infos">30 livres</p><img src="../../assets/img/editor.jpg" class="editor__img">
        </li>
        <li class="editors__list__item"><a href="./editorSingle.html">Editeur</a>
          <p class="editor__infos">30 livres</p><img src="../../assets/img/editor.jpg" class="editor__img">
        </li>
        <li class="editors__list__item"><a href="./editorSingle.html">Editeur</a>
          <p class="editor__infos">30 livres</p><img src="../../assets/img/editor.jpg" class="editor__img">
        </li>
        <li class="editors__list__item"><a href="./editorSingle.html">Editeur</a>
          <p class="editor__infos">30 livres</p><img src="../../assets/img/editor.jpg" class="editor__img">
        </li>
        <li class="editors__list__item"><a href="./editorSingle.html">Editeur</a>
          <p class="editor__infos">30 livres</p><img src="../../assets/img/editor.jpg" class="editor__img">
        </li>
        <li class="editors__list__item"><a href="./editorSingle.html">Editeur</a>
          <p class="editor__infos">30 livres</p><img src="../../assets/img/editor.jpg" class="editor__img">
        </li>
        <li class="editors__list__item"><a href="./editorSingle.html">Editeur</a>
          <p class="editor__infos">30 livres</p><img src="../../assets/img/editor.jpg" class="editor__img">
        </li>
        <li class="editors__list__item"><a href="./editorSingle.html">Editeur</a>
          <p class="editor__infos">30 livres</p><img src="../../assets/img/editor.jpg" class="editor__img">
        </li>
        <li class="editors__list__item"><a href="./editorSingle.html">Editeur</a>
          <p class="editor__infos">30 livres</p><img src="../../assets/img/editor.jpg" class="editor__img">
        </li>
        <li class="editors__list__item"><a href="./editorSingle.html">Editeur</a>
          <p class="editor__infos">30 livres</p><img src="../../assets/img/editor.jpg" class="editor__img">
        </li>
        <li class="editors__list__item"><a href="./editorSingle.html">Editeur</a>
          <p class="editor__infos">30 livres</p><img src="../../assets/img/editor.jpg" class="editor__img">
        </li>
        <li class="editors__list__item"><a href="./editorSingle.html">Editeur</a>
          <p class="editor__infos">30 livres</p><img src="../../assets/img/editor.jpg" class="editor__img">
        </li>
        <li class="editors__list__item"><a href="./editorSingle.html">Editeur</a>
          <p class="editor__infos">30 livres</p><img src="../../assets/img/editor.jpg" class="editor__img">
        </li>
        <li class="editors__list__item"><a href="./editorSingle.html">Editeur</a>
          <p class="editor__infos">30 livres</p><img src="../../assets/img/editor.jpg" class="editor__img">
        </li>
        <li class="editors__list__item"><a href="./editorSingle.html">Editeur</a>
          <p class="editor__infos">30 livres</p><img src="../../assets/img/editor.jpg" class="editor__img">
        </li>
        <li class="editors__list__item"><a href="./editorSingle.html">Editeur</a>
          <p class="editor__infos">30 livres</p><img src="../../assets/img/editor.jpg" class="editor__img">
        </li>
        <li class="editors__list__item"><a href="./editorSingle.html">Editeur</a>
          <p class="editor__infos">30 livres</p><img src="../../assets/img/editor.jpg" class="editor__img">
        </li>
      </ul>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="footer__content">
    <h2 class="footer__title">Book Store</h2>
    <nav class="nav">
      <div class="nav__content">
        <ul class="nav__menu">
          <li class="nav__menu__item"><a href="./views/books/authorsList.html">Auteurs</a></li>
          <li class="nav__menu__item"><a href="./views/books/editorsList.html">Editeurs</a></li>
          <li class="nav__menu__item"><a href="./views/books/categoriesList.html">Genres</a></li>
          <li class="nav__menu__item"><a href="./views/books/languagesList.html">Langues</a></li>
          <li class="nav__menu__item"><a href="./views/books/yearsList.html">Années</a></li>
        </ul>
      </div>
    </nav>
  </div>
</footer>
<script type="text/javascript" src="../../assets/js/main.js"></script>