.alert {
  display: block;
  width: 80%;
  margin: 2em auto;
  padding: 1em;

  color: white;

  -webkit-border-radius: .2em;
  -moz-border-radius: .2em;
  border-radius: .2em;
  transition: all .3s;
}

.alert--error {
  background-color: #d04c51;
  border: 1px solid #973c3f;
}

.alert--success {
  background-color: #a3be8c;
  border: 1px solid #8ee986;
}

.alert--warning {
  background-color: #ff9e00;
  border: 1px solid #d08770;
}