@import "compass/reset";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,700);

/**
VARIABLES
**/
$Playfair: 'Playfair Display';
$Open: 'Open Sans';

/*
COMMUN
*/
@import "common";

/* SECTIONS */
@import "section";

/* BUTTONS */
@import "buttons";

/* HEADING */
@import "heading";

/* FORM */
@import "form";

/* PAGINATION */
@import "pagination";

/* ALERTS */
@import "alert";

/* HELPERS */
.clearBoth {
  content: "";
  display: block;
  clear: both;
}