@import "compass/reset";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,700);

/**
VARIABLES
**/
$Playfair: 'Playfair Display';
$Open: 'Open Sans';

/*
COMMUN
*/
body {
  font: 16px/1.5 $Open, Arial, sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

.content {
  max-width: 960px;
  width: 90%;
  margin: 0 auto;
}

/* SECTIONS */
.section {
  position: relative;
  margin: 1em 0;
  padding: 2em 0;

  border-bottom: 1px dashed orangered;

  &:after {
    display: block;
    content: "";
    clear: both;
  }

}

.section__header {
  margin-bottom: 1em;
}

.section__block {
  position: relative;
}

.section__block, .section__block__img {
  float: left;
}

.section__block__img {
  max-width: 100%;
}

.section__title {
  @extend .heading;
}

.section__block__title {
  font-family: $Playfair, serif;
  font-size: 1.5em;
}

.section__block__author {
  font-style: italic;
  color: darkgrey;
}

.section__readMore {
  padding-top: 1em;
  padding-left: 1em;

  font-style: italic;
  font-size: .8em;
}

.section__block__year, .section__block__category {
  font-size: .8em;
  color: gray;
}

/* BUTTONS */
.btn {
  text-decoration: none;
  color: inherit;
  margin: 1em 1em 1em 0;
}

.btn--white {
  color: white;
}

/* HEADING */
.heading {
  font-family: $Open;
  font-size: 2em;
  display: inline;
}

.admin__link {
  margin-right: 1em;
}

/* FORM */
.form {
  position: relative;
  margin: 2.5em 0 1.5em;
}

.form__input {
  display: block;

  font-size: 1em;
  font-weight: 300;

  border: none;
  outline: none;
}

.form__submit {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

/* FILTERLIST */
.filter__item {
  display: inline;
  margin-right: .5em;

  color: lightgray;

  &:hover {
    text-decoration: underline;
    color: black;
  }
}

/* ANIMATIONS */
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge {
  animation-duration: 2s;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
}

/* HELPERS */
.clearBoth {
  content: "";
  display: block;
  clear: both;
}