body {
  font: 16px/1.5 $Open, Arial, sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

.content {
  max-width: 960px;
  width: 90%;
  margin: 0 auto;
}

.ariane {
  color: #c0c5ce;

  &:hover {
    text-decoration: underline;
  }
}

* {
  box-sizing: border-box;
}