@import "base";
@import "admin";
@import "iconFont";

/* HEADER */
.header {
  height: 380px;
}

.header--home {
  background: url("../img/header-home.jpg") no-repeat center -280px fixed;
}

.header--authors {
  background: url("../img/header-authors.jpg") no-repeat center -350px fixed;
  background-size: cover;
}

.header__content {
  max-width: 960px;
  width: 90%;
  margin: 0 auto;
  padding-top: 6em;

  &:after {
    display: block;
    content: "";
    clear: both;
  }
}

.header__title {
  font-size: 2em;
  text-align: center;
  color: white;
  font-weight: 300;

  p {
    width: 55%;
    min-width: 528px;
    margin: 0 auto .2em;

    background-color: black;
  }

  p + p {
    width: 40%;
    min-width: 365px;
    margin: 0 auto;
  }
}

.header__login {
  display: inline-block;
  margin-top: 9em;
  font-family: $Playfair, serif;
}

/* SEARCH */
.form--search {
  min-width: 300px;
  width: 30%;
  margin: 0 auto;
  padding: 0 1em;

  line-height: 2;

  border: none;
  border-bottom: 2px solid lightgray;
  transition: all .5s;

  &:focus {
    border-bottom: 2px solid orangered;
  }
}

.form--search--submit {
  position: absolute;
  right: 25%;
  top: .15em;
  padding: 0;
  margin: 0;

  line-height: 3;
  color: transparent;

  border: none;
  background: url("../img/search-icn.png") no-repeat 0 .3em;
}

/* NAV */
#main__title {
  transition: font-size .3s;
}

.nav__content {
  max-width: 960px;
  width: 90%;
  margin: 0 auto;
  &:after {
    display: block;
    content: "";
    clear: both;
  }
}

.nav__title {
  float: left;

  font-family: $Playfair, serif;
  font-size: 2.5em;
}

.nav__menu {
  padding-top: 1.777em;
  float: right;
}

.nav__menu__item {
  display: inline-block;
  margin-right: 1em;

  font-family: $Playfair;
  color: black;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

/* HOME--BEST-BOOK */
.vedettes .section__block {
  width: 50%;
}

.vedettes .section__block__img {
  margin-right: 4%;
  width: 35%;
}

.vedettes .section__block__content {
  font-weight: 300;
  padding-right: 1.5em;
}

/* HOME--BEST-AUTHOR */
.author .section__block {
  width: 50%;
  float: left;

  &:hover .section__block__title {
    color: #d04c51;
    text-decoration: underline;
  }
}

.author .section__block__content {
  padding-right: 5%;

  font-weight: 300;
}

.yours .section__block {
  width: 16.66667%;

  text-align: center;

  &:hover {
    cursor: pointer;
  }

  &:hover img {
    box-shadow: .1em .1em .5em lighten(black, 70%);
  }

}

.yours .section__block__img {
  max-width: 90%;
  float: none;
}

.author .section__block__img {
  max-width: 90%;
  float: right;
}

.author .section__block__title, .yours .section__block__title {
  font-size: 1.1em;
}

.author__count {
  margin-top: 2em;
  padding-top: .5em;

  font-weight: 300;

  border-top: 1px solid gray;
}

.nb {
  font-weight: bold;
}

.nb-n {
  color: #bf616a;
}

.nb-p {
  color: #05e997;
}

/* FOOTER */
.footer {
  background: url("../img/footer-bkg.jpg") no-repeat center 200px fixed;
  height: 380px;
  margin-top: 2em;
  text-align: center;
}

.footer__title {
  padding-top: 2em;

  font-family: $Playfair;
  font-size: 4em;
  color: white;
}

.footer .nav__menu__item {
  color: white;
}

.footer .nav__menu {
  float: none;
}

.footer .nav__menu:before {
  color: white;
}

/* AUTHORS-LIST */
.authors:after {
  @extend .clearBoth;
}

.authors__list {
  margin-top: 2em;
  &:after {
    @extend .clearBoth;
  }
}

.author__list__item {
  margin-bottom: 2em;
  margin-right: 5%;
  width: 26%;
  min-height: 22em;
}

.authors .section__block__title {
  margin-bottom: .6em;
  border-bottom: 1px dotted orangered;
}

.author__readMore {
  position: absolute;
  bottom: 0;
  padding: 0;
}

/* AUTHOR-SINGLE */
.bio {
  width: 55%;
  margin-right: 5%;
}

.infos {
  width: 40%;

  p {
    margin: .5em 0;
  }
}

.bio .section__block__content p {
  margin: 1em 0;
}

.author__name {
  margin-bottom: .6em;
  border-bottom: 1px dotted orangered;
}

/* EDITORS-LIST */
.editors__list {
  margin-top: 1em;
  font-family: $Playfair;

  &:after {
    display: block;
    content: '';
    clear: both;
  }
}

.editors__list__item {
  margin-bottom: 1em;

  &:nth-child(odd) {
    border-right: 1em transparent solid;
  }

  &:hover .editor__title {
    color: #d04c51;
    text-decoration: underline;
  }
}

.editor__infos {
  font-size: .9em;
  font-family: $Open;
  color: gray;
  font-style: italic;
}

.editor__img {
  float: left;
  margin-right: 2em;
}

.editor__img--small {
  max-width: 20%;
}

.editor__title {
  font-size: 1.5em;
}

/* LIBRARY - VIEW */
.book {
  width: 30%;
  margin-left: 1%;
}

.book__img {
  max-width: 60%;
}

/* GENRE-LIST */
.genre {
  margin-bottom: 2em;
}

/* SEARCH */
.results {
  width: 100%;
  margin-bottom: 2em;
}

.noResult {
  margin-bottom: 2em;

  font-size: 1.1em;
  color: #b3b3b3;
}

.results__title {
  font-size: 1.3em;
}

.results__link {
  margin: .5em 0;
  padding-left: 1em;

  &:hover {
    color: #d04c51;
    text-decoration: underline;
  }
}

.request {
  color: red;
}

.library {
  margin: .5em 0;
}

.library__name {
  text-decoration: underline;
}

/* LOGIN / REGISTER */
.form--login, .form--register {
  width: 50%;
  margin: 0 auto;
}

/* ACCOUNT */
.user__login {
  font-weight: 700;
  color: #ffd300;
  text-decoration: underline;

  &:hover {
    cursor: pointer;
  }
}

.section__block--library {
  float: none;
}

.section__block__title--library {
  background-color: #ffd300;
  margin: 1em 0 0;
  padding: 1em 0;
  width: 100%;

  color: black;
  font-size: 1.4em;
  text-align: center;
  font-family: $Open;
}

.head__list {
  margin-bottom: 1em;

  font-weight: 700;
}

.books__list {
  width: 100%;

  &:hover {
    color: #d04c51;
    text-decoration: underline;
  }
}

.books__list__item {
  position: relative;

  &:nth-child(even) {
    background-color: #f3f3f3;
  }

  &:hover {
    background-color: #e2ffda;
  }
}

.actions {
  text-align: center;
}

.form__addBook__input {
  display: block;
  width: 99%;
  margin: .5em 0px;
  padding: .3em 0;

  font-size: 1em;
}

/* VOTES */

.votes {
  margin-top: 1.5em;

  border-top: 1px solid #000;
}

.liked .voteUp, .disliked .voteDown {
  color: #c0c5ce;
  &:hover {
    cursor: not-allowed;
  }
}

.liked .voteUp {
  color: #05e997;
}

.disliked .voteDown {
  color: #d04c51;
}